.myForm{
width:40rem;
height:30rem;
border:1px solid black;
background-color: azure;
margin-left: 5rem;
margin-top: 5rem;
padding: 5rem;
}
.input1,.input2{
    margin-bottom: 2rem;
}
.lbl1,.lbl2{
text-transform: uppercase;

}
.lblS{
text-transform: uppercase;
   
}