.App {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color:whitesmoke;
}
.todos{
    padding:10px;
    margin-top: 150px;
    margin-left:5px;
}


